* {
    margin: 0;
    padding: 0;
}

body {
    background-color: seashell;
    
}


.envelope img {
    max-width: 30px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 10px 10px;
    color:cadetblue;
}

/*NAVIGATION*/
nav {
    margin: -35px 5px;
    width: 150px;
    height: 130px;
    font-size: 15pt;
    position: fixed;
    bottom: 0px;
    font-family: sans-serif;
}

nav .one {
    margin: 5px 0px;
    
}

nav .two {
    margin: 5px 0px;

}

nav .three {
    margin: 5px 0px;
}

nav .logo {
    padding: 5px;
}

a:link, a:visited {
    color: cadetblue;
}

a:hover {
    color: lightblue;  
}

a:active {
    color:aliceblue;
}

a {
    text-decoration: none;
}

/*MAIN*/

main {
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
    display: flex;
    font-size: 10pt;
    font-family: sans-serif;
    padding: 5px;
   
}

.education, .workshops, .work {
    background-color: aliceblu;
    width: 100%;
    margin: 10px;
    text-align: left;
    
}

/*TITLES*/

.title {
    color:darkcyan;
    font-weight: 500;

}

/*COLUMNS*/

.education div {
    
    padding: 5px 0px;
}

.workshops div {
    
    padding: 5px 0px 0px 11px;
    
}

.internships div {
    
    padding: 5px 0px;
    
}

.work div {
    
    padding: 5px 0px;
}

.sub {
    font-weight: 400; 
}


.education, .workshops, .work {
    font-weight: 100;
    font-size: 9pt;
}

